#btn {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 5px !important;
  border: none !important;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-radius 0.2s;
}

#btn:hover {
  background-color: yellow !important;
  color: #000 !important;
  border-radius: 30px !important;
}
